<footer class="footer bg-light py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <img src="assets/logojob.png" alt="Company Logo" class="img-fluid" width="50%">
        <h1 class="mt-3"><b>JOB4JOBLESS</b></h1>
        <p class="text-justify">
          <b>Job For Jobless is a new-gen job portal that connects passion with the dream company and the right talent
            with the right company. We turn dreams and passion into success stories. Companies can access a limitless
            talent pool of quality candidates, and job seekers can access unlimited opportunities in just a few
            clicks.</b>
        </p>
      </div>
      <div class="col-md-2">
        <h2>Quick Links</h2>
        <ul class="list-unstyled">
          <li><a href="/home" class="text-decoration-none">
              <h3 class="bold-text">Home</h3>
            </a></li>
          <li><a href="/about" class="text-decoration-none">
              <h3 class="bold-text">About</h3>
            </a></li>
          <li><a href="/contact" class="text-decoration-none">
              <h3 class="bold-text">Contact</h3>
            </a></li>
          <li><a href="/findjobpage" class="text-decoration-none">
              <h3 class="bold-text">Find a Job</h3>
            </a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <h2>Social Media</h2>
        <ul class="social-list list-unstyled">
          <li>
            <a href="https://www.facebook.com/your-facebook-page" class="text-decoration-none">
              <i class="fab fa-facebook"></i>
              <h3>Facebook</h3>
            </a>
          </li>
          <li>
            <a href="https://twitter.com/your-twitter-account" class="text-decoration-none">
              <i class="fab fa-twitter"></i>
              <h3>Twitter</h3>
            </a>
          </li>
          <li>
            <a href="https://www.linkedin.com/in/your-linkedin-profile" class="text-decoration-none">
              <i class="fab fa-linkedin"></i>
              <h3>LinkedIn</h3>
            </a>
          </li>
          <li>
            <a href="javascript:void(0);" (click)="sendWhatsAppMessage()" class="text-decoration-none">
              <i class="fab fa-whatsapp"></i>
              <h3>Whatsapp</h3>
            </a>
          </li>
        </ul>
      </div>
      <div class="col-md-3">
        <h2>Contact Us</h2>
        <address>
          <p><b>Our Corporate Office</b></p>
          <p>2615A-2616, 26th FLOOR, SUPERNOVA ASTRALIS, SECTOR-94, NOIDA, UTTAR PRADESH - 201301</p>
          <p><b>Email</b>: <a href="mailto:info@oragetechnologies.com"
              class="text-decoration-none">info@oragetechnologies.com</a></p>
          <p><b>Our Official Contact No.</b>:
            <br> <a href="tel:+91 9958360795" class="text-decoration-none">+91 9958360795</a>, <a
              href="tel:+0120-4244775" class="text-decoration-none">0120-4244775</a>
          </p>
        </address>
      </div>
    </div>
  </div>
</footer>

  <hr> <!-- Add horizontal line -->
  <div class="text-center">
    <p>CopyRight @2023 <span style="font-weight: bold;">job4jobless</span>. All Rights Reserved.</p>
  </div>

